* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.8), black);
  --primary-color: #ffc222;
  --text-color: rgba(255, 255, 255, 0.9);
  --dark-mode: rgb(38, 38, 38);
  --primary-font: "Roboto", sans-serif;
}

body {
  color: var(--text-color);
  font-family: var(--primary-font);
  background-image: var(--background);
  background-repeat: no-repeat;
}

/* ############################# Navbar ###############################*/
.navbar {
  width: 100%;
  padding: 0.5rem 2rem;
}

.navbar-brand {
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--text-color);
}

.nav-item {
  padding: 0 0.5rem;
}

.nav-link {
  color: var(--text-color);
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-link:hover,
.nav-link:focus,
.navbar-brand:hover,
.navbar-brand:focus {
  color: var(--primary-color);
}

.navbar-toggler {
  color: var(--text-color);
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* ################# Login Page and Signup Page ##################*/
.modal-content {
  padding: 20px 40px;
  background-color: var(--dark-mode);
}

.modal-title {
  flex: 100%;
  text-align: center;
  font-size: 2.2rem !important;
  font-weight: bold;
  color: var(--primary-color);
}

.btn-close {
  position: relative;
  top: -30px;
  left: 35px;
  font-size: 1.2rem;
  opacity: 1;
}

.modal-body form {
  padding: 10px 0 30px 0;
}

.form-control,
.form-control:active {
  background-color: transparent !important;
  font-size: 1.2rem;
  color: var(--text-color) !important;
}

.form-control::placeholder {
  color: rgb(140, 140, 140);
}

.password-style button {
  background-color: transparent;
  color: var(--text-color);
  border: none;
  width: auto !important;
  transition: none;
  position: absolute;
  top: 73px;
  left: 360px;
}

.password-style button i {
  font-size: 1rem;
}

.password-style button:hover,
.password-style button:active {
  background-color: transparent !important;
}

.modal-body button {
  font-size: 1.3rem;
  width: 100%;
  margin-top: 10px;
}

.modal-body p {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 1px;
}

/* ########################## Genre Selection ######################## */
.genre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 30px 0;
}

.genre label {
  width: 100%;
  padding: 40px 0;
  font-size: 1.5rem;
  background-color: var(--dark-mode);
  border: var(--primary-color) solid 1px;
  color: var(--text-color);
}

.genre label:hover {
  background-color: var(--primary-color) !important;
  color: var(--dark-mode) !important;
  border: var(--primary-color) solid 1px !important;
  font-weight: 600;
}

.genre input[type="checkbox"]:checked+label {
  color: var(--dark-mode);
  font-weight: 600;
  background-color: var(--primary-color);
}

/* ######################### Main Section ######################### */
.main-section {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main-section h1 {
  color: var(--text-color);
  font-size: 3.2rem;
  letter-spacing: 2px;
  line-height: 4rem;
  text-transform: capitalize;
}

.main-section p {
  font-size: 1.4rem;
  font-style: italic;
  letter-spacing: 0.5px;
  color: var(--text-color);
}

.main-section img {
  width: 700px;
  mix-blend-mode: screen;
}

.alert .alert-success .alert-dismissible .fade .show {
  position: absolute;
  right: 0;
}


/* Cards */
.rec-title{
  border-left: 6px solid orange;
  padding-left: 10px;
}

.cards {
  display: grid;
  grid-auto-columns: 100%;
  grid-column-gap: 10px;
  grid-auto-flow: column;
  padding-bottom: 25px;
  list-style: none;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
  cursor: pointer;
}

.card:hover {
  color: var(--white);
  background: var(--orange);
}

.card img {
  height: 180px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card .card-title {
  font-size: 20px;
}

.card .card-content {
  max-width: 85%;
}

.card .card-link-wrapper {
  margin-top: auto;
}

.card .card-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: var(--orange);
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.2s;
}

.card:hover .card-link {
  background: var(--darkorange);
}

.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: var(--darkorange);
}

.cards::-webkit-scrollbar-track {
  background: var(--thumb);
}

/* Ratings */
.btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
}
.bold{
	font-weight:700;
}
.padding-bottom-7{
	padding-bottom:7px;
}

.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
	font-size:12px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}
