{% extends "base.html" %}
{% load static %}

{% block title %} Dashboard {% endblock title %}
{% block css %}
:root {
    --orange: #fd9940;
    --darkorange: #dd7d25;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #fff;
    --thumb: #edf2f4;
}
body {
    color: var(--black);
    background: var(--platinum);
}
.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}
h2 {
    font-size: 50px;
    font-weight: 600;
    margin: 40px 0 10px;
}

{% endblock css %}
{% block body %}
<div class="container">    
    <h2 class="rec-title">Recommended for you</h2>
    <ul class="cards">

        {% for restu in resturants %}
        <li class="card">
            <div>
                <img src="{{MEDIA_ROOT}}{{restu.rest_image.url}}" class="card-img-top" alt="...">
                <h3 class="card-title">{{restu.rest_name}}</h3>
                <div class="card-content">
                    <p>{{restu.location}}</p>
                    <p>Genre: {{restu.genre}}</p>
                    <p>Performance: {{restu.day}}</p>
                    <p>Rating: {{restu.ratings}} / 5</p>
                </div>
            </div>
            <div class="card-link-wrapper">
                <a href="/restaurant" class="card-link">Learn More</a>
            </div>
        </li>
        {% endfor %}
     
    </ul>
</div>
<div class="container">    
    <h2 class="rec-title">Acoustic</h2>
    <ul class="cards">

        {% for restu in resturants %}
        <li class="card">
            <div>
                <img src="{{MEDIA_ROOT}}{{restu.rest_image.url}}" class="card-img-top" alt="...">
                <h3 class="card-title">{{restu.rest_name}}</h3>
                <div class="card-content">
                    <p>{{restu.location}}</p>
                    <p>Performance: {{restu.day}}</p>
                    <p>Rating: {{restu.ratings}} / 5</p>
                </div>
            </div>
            <div class="card-link-wrapper">
                <a href="/restaurant" class="card-link">Learn More</a>
            </div>
        </li>
        {% endfor %}
     
    </ul>
</div>
<div class="container">    
    <h2 class="rec-title">Instrumental</h2>
    <ul class="cards">

        {% for restu in resturants %}
        <li class="card">
            <div>
                <img src="{{MEDIA_ROOT}}{{restu.rest_image.url}}" class="card-img-top" alt="...">
                <h3 class="card-title">{{restu.rest_name}}</h3>
                <div class="card-content">
                    <p>{{restu.location}}</p>
                    <p>Performance: {{restu.day}}</p>
                    <p>Rating: {{restu.ratings}} / 5</p>
                </div>
            </div>
            <div class="card-link-wrapper">
                <a href="/restaurant" class="card-link">Learn More</a>
            </div>
        </li>
        {% endfor %}
     
    </ul>
</div>
{% endblock body %}