{% extends "base.html" %}
{% load static %}

{% block title %} Dashboard {% endblock title %}
{% block css %}
:root {
    --orange: #fd9940;
    --darkorange: #dd7d25;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #fff;
    --thumb: #edf2f4;
}
body {
    margin-top: 6%;
    color: var(--black);
    background: var(--platinum);
}
.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}
h2 {
    font-size: 35px;
    margin: 70px 0 28px;
}
.card-content span{
    font-weight: bold;
}
.info p{
    margin: 0;
}
.form-control{
    border: 2px solid black;
    color: black !important;
}
{% endblock css %}
{% block body %}
<div class="container">

    <!-- Search -->
    <form class="d-flex" method="POST" action="{% url 'search' %}"> {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
        <button class="btn btn-outline-success fw-bold" type="submit">Search</button>
    </form>

    <!-- Recommendation -->
    <div class="recommendation">
        <h2 class="rec-title">Recommended for you</h2>
        <ul class="cards">

            {% for restu in resturants %}
            <li class="card">
                <div>
                    <img src="{{MEDIA_ROOT}}{{restu.rest_image.url}}" class="card-img-top" alt="...">
                    <h3 class="card-title">{{restu.rest_name}}</h3>
                    <div class="card-content">
                        <p>{{restu.location}}</p>
                        <div class="info">
                            <p><span>Genre:</span> {{restu.genre}}</p>
                            <p><span>Performance:</span> {{restu.day}}</p>
                            <p><span>Rating:</span> {{restu.ratings}} / 5</p>
                        </div>
                    </div>
                </div>
                <div class="card-link-wrapper">
                    <a href="{% url 'restaurant' restu.pk %}" class="card-link">Learn More</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

  
      <!-- Acoustic -->
    <div class="acoustic">
        <h2 class="rec-title">Acoustic</h2>
        <ul class="cards">

            {% for acous in acoustic %}
            <li class="card">
                <div>
                    <img src="{{MEDIA_ROOT}}{{acous.rest_image.url}}" class="card-img-top" alt="...">
                    <h3 class="card-title">{{acous.rest_name}}</h3>
                    <div class="card-content">
                        <p>{{acous.location}}</p>
                        <div class="info">
                            <p><span>Performance</span> {{acous.day}}</p>
                            <p><span>Rating:</span> {{acous.ratings}} / 5</p>
                        </div>
                    </div>
                </div>
                <div class="card-link-wrapper">
                    <a href="{% url 'restaurant' acous.pk %}" class="card-link">Learn More</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Ambient -->
    <div class="ambient">
        <h2 class="rec-title">Ambient</h2>
        <ul class="cards">

            {% for ambie in ambient %}
            <li class="card">
                <div>
                    <img src="{{MEDIA_ROOT}}{{ambie.rest_image.url}}" class="card-img-top" alt="...">
                    <h3 class="card-title">{{ambie.rest_name}}</h3>
                    <div class="card-content">
                        <p>{{ambie.location}}</p>
                        <div class="info">
                            <p><span>Performance</span> {{ambie.day}}</p>
                            <p><span>Rating:</span> {{ambie.ratings}} / 5</p>
                        </div>
                    </div>
                </div>
                <div class="card-link-wrapper">
                    <a href="{% url 'restaurant' ambie.pk %}" class="card-link">Learn More</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Classical -->
    <div class="classical">
        <h2 class="rec-title">Classical</h2>
        <ul class="cards">

            {% for classic in classical %}
            <li class="card">
                <div>
                    <img src="{{MEDIA_ROOT}}{{classic.rest_image.url}}" class="card-img-top" alt="...">
                    <h3 class="card-title">{{classic.rest_name}}</h3>
                    <div class="card-content">
                        <p>{{classic.location}}</p>
                        <div class="info">
                            <p><span>Performance</span> {{classic.day}}</p>
                            <p><span>Rating:</span> {{clasiic.ratings}} / 5</p>
                        </div>
                    </div>
                </div>
                <div class="card-link-wrapper">
                    <a href="{% url 'restaurant' classic.pk %}" class="card-link">Learn More</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

     <!-- Instrumental -->
 <div class="instrumental">
    <h2 class="rec-title">Instrumental</h2>
    <ul class="cards">

        {% for instru in instrumental %}
        <li class="card">
            <div>
                <img src="{{MEDIA_ROOT}}{{instru.rest_image.url}}" class="card-img-top" alt="...">
                <h3 class="card-title">{{instru.rest_name}}</h3>
                <div class="card-content">
                    <p>{{instru.location}}</p>
                    <div class="info">
                        <p><span>Performance</span> {{instru.day}}</p>
                        <p><span>Rating:</span> {{instru.ratings}} / 5</p>
                    </div>
                </div>
            </div>
            <div class="card-link-wrapper">
                <a href="{% url 'restaurant' instru.pk %}" class="card-link">Learn More</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

    <!-- Jazz -->
    <div class="jazz">
        <h2 class="rec-title">Jazz</h2>
        <ul class="cards">

            {% for jaz in jazz %}
            <li class="card">
                <div>
                    <img src="{{MEDIA_ROOT}}{{jaz.rest_image.url}}" class="card-img-top" alt="...">
                    <h3 class="card-title">{{jaz.rest_name}}</h3>
                    <div class="card-content">
                        <p>{{jaz.location}}</p>
                        <div class="info">
                            <p><span>Performance</span> {{jaz.day}}</p>
                            <p><span>Rating:</span> {{jaz.ratings}} / 5</p>
                        </div>
                    </div>
                </div>
                <div class="card-link-wrapper">
                    <a href="{% url 'restaurant' jaz.pk %}" class="card-link">Learn More</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

      <!-- Pop -->
      <div class="pop">
        <h2 class="rec-title">Pop</h2>
        <ul class="cards">

            {% for pop in pops %}
            <li class="card">
                <div>
                    <img src="{{MEDIA_ROOT}}{{pop.rest_image.url}}" class="card-img-top" alt="...">
                    <h3 class="card-title">{{pop.rest_name}}</h3>
                    <div class="card-content">
                        <p>{{pop.location}}</p>
                        <div class="info">
                            <p><span>Performance</span> {{pop.day}}</p>
                            <p><span>Rating:</span> {{pop.ratings}} / 5</p>
                        </div>
                    </div>
                </div>
                <div class="card-link-wrapper">
                    <a href="{% url 'restaurant' pop.pk %}" class="card-link">Learn More</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock body %}