{% extends 'base.html' %}
{% load static %}

{% block title %}Restaurant{% endblock title %}

{% comment %} {% for restu in restaurants %}
{% block title %} {{restu.rest_name}} {% endblock title %}
{% endfor %} {% endcomment %}

{% block css %}
:root {
--orange: #fd9940;
--darkorange: #dd7d25;
--platinum: #e5e5e5;
--black: #2b2d42;
--white: #fff;
--thumb: #edf2f4;
}
body {
color: var(--black);
background: var(--platinum);
}
.container {
max-width: 1400px;
padding: 0 15px;
margin: 0 auto;
}

.rest-container{
padding-left: 100px;
display: flex;
margin: 5% auto;
}

.rest-img{
max-width: 500px;
height: 100%;
border-radius: 10px;
}
.rest-content{
padding: 15px 60px;
font-size: 20px;
}
h2 {
font-size: 32px;
font-weight: 600;
letter-spacing: 1px;
}

<!-- Rating -->
.checked {
color: orange;
}
.my-btn{
background-color: inherit;
border: 0;
}

.rating {
margin-top: 40px;
border: none;
float: left;
}

.rating>label {
color: #9C9C9C;
font-size: 10px;
float: right;
}


.rating>label:before {
margin: 5px;
font-size: 2em;
font-family: FontAwesome;
content: "\f005";
display: inline-block;
}

.rating>input {
display: none;
}

.rating>input:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
color: #F79426;
}

.rating>input:checked+label:hover,
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
.rating>input:checked~label:hover~label {
color: #FECE31;
}

#star {
font-size: 10px;
color: grey;
}

#check-star {
font-size: 10px;
}

#review-text{
padding: 8px;
margin-left: 30px;
}

.container-review{
width: 100%;
}
{% endblock css %}

{% block body %}
<!-- Restaurant Details -->
{% for details in one_restu %}
<div class="container rest-container">
    <div class="container-img">
        <img src="{{MEDIA_ROOT}}{{details.rest_image.url}}" alt="..." class="rest-img">
    </div>
    <div class="rest-content">
        <h2>{{details.rest_name}}</h2>
        <p>{{details.location}}</p>

        <div class="rest-info">
            <p><span>Genre:</span> {{details.genre}}</p>
            <p><span>Performer:</span> {{details.performer}}</p>
            <p><span>Day of performance:</span> {{details.day}}</p>
            <p><span>Time of performance:</span> {{details.start_time}} to {{details.end_time}}</p>
            <!-- <p><span>Ratings:</span> {{details.ratings}} / 5</p> -->
        </div>
    </div>
</div>


<!-- Review Form -->
<div class="container mb-5">
    <form method="POST" action="{% url 'handleRatings' details.pk %}">
        {% csrf_token %}
        <div class="col-md-6">
            <h4 class="rec-title fs-3 fw-bold">Write a review</h4>
            {% csrf_token %}
            <div class="form-group required">
                <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" />
                    <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
                    <input type="radio" id="star4" name="rating" value="4" />
                    <label class="star" for="star4" title="Great" aria-hidden="true"></label>
                    <input type="radio" id="star3" name="rating" value="3" />
                    <label class="star" for="star3" title="Very good" aria-hidden="true"></label>
                    <input type="radio" id="star2" name="rating" value="2" />
                    <label class="star" for="star2" title="Good" aria-hidden="true"></label>
                    <input type="radio" id="star1" name="rating" value="1" />
                    <label class="star" for="star1" title="Bad" aria-hidden="true"></label>
                </div>
            </div>
        </div>
        <textarea name="restu_review" placeholder="Write a review..." rows="6" cols="100" id="review-text"
            required></textarea>
        <br>

        <div class="row">
            <div class="col-md-4">
                <input type="submit" class="btn btn-primary mt-2" value="Post">
            </div>
        </div>
    </form>
</div>
{% endfor %}


<!-- Recommendation -->
<div class="container">
    <hr class="divider">
    <h2 class="rec-title">You may also like:</h2>
    <ul class="cards">
        {% for restu in avg_ratings %}
        <li class="card">
            <div>
                <img src="{{MEDIA_ROOT}}{{restu.rest_image.url}}" class="card-img-top" alt="...">
                <h3 class="card-title">{{restu.rest_name}}</h3>
                <div class="card-content">
                    <p>{{restu.location}}</p>
                    <p>Genre: {{restu.genre}}</p>
                    <p>Performance: {{restu.day}}</p>
                    <p>Rating: {{restu.ratings}} / 5</p>
                </div>
            </div>
            <div class="card-link-wrapper">
                <a href="{% url 'restaurant' restu.pk %}" class="card-link">Learn More</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>


<!-- Review Display -->
<div class="container mt-5">
    <hr class="divider">
    <h3 class="rec-title">All rating and reviews</h3>
</div>
{% for details in review %}
<div class="container d-flex rate-review">
    <!-- Review section -->
    <div class="container-review">
        <div class="review-block">
            <!-- Reviews -->
            <div class="row">
                <div class="col-sm-2">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="img-rounded">
                    <div class="review-block-name"><a href="#">{{ details.user }}</a></div>
                    <div class="review-block-date">{{ details.rated_date }}</div>
                </div>
                <div class="col-sm-10">
                    {% if details.rating > 0 %}
                    <i class="fa fa-star fs-6 {% if details.rating  < 1 %} no-checked {% else %} checked {% endif %} "
                        id="check-star"></i>
                    <i class="fa fa-star fs-6 {% if details.rating  < 2 %} no-checked {% else %} checked {% endif %} "
                        id="check-star"></i>
                    <i class="fa fa-star fs-6 {% if details.rating  < 3 %} no-checked {% else %} checked {% endif %} "
                        id="check-star"></i>
                    <i class="fa fa-star fs-6 {% if details.rating  < 4 %} no-checked {% else %} checked {% endif %} "
                        id="check-star"></i>
                    <i class="fa fa-star fs-6 {% if details.rating  < 5 %} no-checked {% else %} checked {% endif %} "
                        id="check-star"></i>
                    <hr>
                    {% else %}
                    <i class="fa fa-star" id="star"></i>
                    <i class="fa fa-star" id="star"></i>
                    <i class="fa fa-star" id="star"></i>
                    <i class="fa fa-star" id="star"></i>
                    <i class="fa fa-star" id="star"></i>
                    <span>No ratings</span>
                    <hr>
                    {% endif %}
                    <div class="review-block-description">{{ details.review_desp }}</div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endfor %}
{% endblock body%}